
<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a ui-sref="#">Sign In</a></p>
        </form>
        <form class="login-form">{{error}}
            <input type="text" placeholder="username" ng-model="email"/>
            <input type="password" placeholder="password" ng-model="password"/>
            <button ng-click="login()">login</button>
            <p class="message">Not registered? <a ui-sref="#">Create an account</a></p>
        </form>
    </div>
</div>