<div class="container" >
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6 col-sm-6 col-lg-6">

                    <div class="preview-pic tab-content" ng-repeat="product in productlist">

                        <div class="tab-pane active" style="width: 600px;height: 400px" id="pic-1"><img  class="img1" src="{{product.featured_src}}" /></div>

                    </div>


                </div>
                <div class="details col-md-6 col-sm-6 col-lg-6" ng-repeat="product in productlist">
                    <h3 class="product-title">{{product.title}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>

                    <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                    <h4 class="price">current price: <span>{{product.sale_price}}</span></h4>
                    <p class="vote"><strong>{{product.price}}</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <!--<h5 class="sizes">sizes:-->
                        <!--<span class="size" data-toggle="tooltip" title="small">s</span>-->
                        <!--<span class="size" data-toggle="tooltip" title="medium">m</span>-->
                        <!--<span class="size" data-toggle="tooltip" title="large">l</span>-->
                        <!--<span class="size" data-toggle="tooltip" title="xtra large">xl</span>-->
                    <!--</h5>-->
                    <div class="action" ng-repeat="product in productlist">

                      <addtocart ng-click="click(product)" product-id="product" ></addtocart>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div>

                    <!--<div class="action">-->
                        <!--<button class="add-to-cart btn btn-default" type="button">add to cart</button>-->
                        <!--<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

